In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# File to Load
goodreads_path = "Resources/books_clean.csv"

# Read the modified GoodReads csv and store into Pandas DataFrame
goodreads_df = pd.read_csv(goodreads_path, encoding="utf-8")
goodreads_df.head()

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [3]:
# Calculate the number of unique authors in the DataFrame
author_count = len(goodreads_df["Authors"].unique())

# Calculate the earliest/latest year a book was published
earliest_year = goodreads_df["Publication Year"].min()
latest_year = goodreads_df["Publication Year"].max()

# Calculate the total reviews for the entire dataset
# Hint: use the pandas' sum() method to get the sum for each row
goodreads_df['Total Reviews'] = goodreads_df.iloc[:, 4:].sum(axis=1)
total_reviews = sum(goodreads_df['Total Reviews'])

In [4]:
goodreads_df

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews,Total Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317,4942365
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543,4800065
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439,3916824
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267,3340896
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718,2773745
...,...,...,...,...,...,...,...,...,...,...
9995,441019455,2010.0,Bayou Moon,Ilona Andrews,105,575,3538,7860,6778,18856
9996,067973371X,1990.0,Means of Ascent,Robert A. Caro,303,551,1737,3389,6972,12952
9997,039330762X,1977.0,The Mauritius Command,Patrick O'Brian,11,111,1191,4240,5180,10733
9998,61711527,2011.0,Cinderella Ate My Daughter: Dispatches from th...,Peggy Orenstein,275,1002,3765,4577,2375,11994
9999,375700455,1998.0,The First World War,John Keegan,117,345,2031,4138,3069,9700

In [6]:
goodreads_df[goodreads_df['Publication Year'] < 0]

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews,Total Reviews
78,143039954,-720.0,Ὀδύσσεια,"Homer, Robert Fagles, E.V. Rieu, Frédéric Mugl...",29703,65629,183082,224120,208223,710757
340,140275363,-750.0,Ἰλιάς,"Homer, Robert Fagles, Frédéric Mugler, Bernard...",7701,20845,68844,89384,86791,273565
402,1590302257,-500.0,孫子兵法 [Sūnzi bīngfǎ],"Sun Tzu, Thomas Cleary",2930,11589,48265,70644,70520,203948
771,140449140,-380.0,Πολιτεία,"Plato, Desmond Lee",2772,7531,29394,42284,40766,122747
823,1580495931,-430.0,Οἰδίπους Τύραννος,"Sophocles, J.E. Thomas",3032,12324,42020,45436,31572,134384
1098,679776192,-300.0,道德經 [dào dé jīng],"Lao Tzu, Gia-Fu Feng, Jane English, Chungliang...",903,2332,10967,22924,43835,80961
1119,192840509,-560.0,Aesopica,"Aesop, Laura Harris, Laura Gibbs",773,3717,22587,34885,37000,98962
1279,679729526,-17.0,Æneis,"Virgil, Robert Fitzgerald",1531,6436,23683,28909,24792,85351
1520,1580493882,-441.0,Ἀντιγόνη,"Sophocles, J.E. Thomas",1881,8279,25895,25697,16783,78535
2051,015602764X,-401.0,NaN,"Sophocles, Dudley Fitts, Elena Bono, Robert Fi...",701,2795,11945,17804,17544,50789
2075,141026286,-1750.0,Shūtur eli sharrī,"Anonymous, N.K. Sandars",1551,5850,17627,17485,13343,55856
2141,147712556,-762.0,Ἰλιάς ; Ὀδύσσεια,"Homer, Robert Fagles, Bernard Knox",916,2608,10439,17404,19731,51098
2335,140449183,-400.0,भगवद्गीता [Bhagavadgītā],"Krishna-Dwaipayana Vyasa, Simon Brodbeck, Juan...",1009,2097,7686,12170,19132,42094
2762,486275485,-431.0,Mήδεια,"Euripides, Rex Warner",709,3123,11554,14888,12683,42957
3403,140449086,-440.0,Ἰστορίαι,"Herodotus, Aubrey de Sélincourt, John M. Marin...",879,1766,6820,10568,11952,31985
3867,140449272,-385.0,Συμπόσιον,"Plato, Christopher Gill",367,1425,5939,10145,10126,28002
3929,140449493,-350.0,Ἠθικὰ Νικομάχεια,"Aristotle, J.A.K. Thomson, Jonathan Barnes, Hu...",534,1557,6091,8682,8605,25469
3948,486414248,-350.0,Politics,Aristotle,439,1424,5899,8275,8004,24041
4148,140443339,-458.0,Ὀρέστεια,"Aeschylus, Robert Fagles, William Bedell Stanford",323,1471,6415,9813,10140,28162
4329,872205541,-400.0,NaN,"Plato, G.M.A. Grube, John M. Cooper",301,1001,4518,8001,8876,22697
4331,140440399,-411.0,Ἱστορίαι,"Thucydides, Rex Warner, Moses I. Finley",672,1745,5860,8019,8157,24453
4536,872206033,-411.0,Λυσιστράτη,"Aristophanes, Sarah Ruden",619,1930,7250,9958,8526,28283
4879,865163480,-390.0,Απολογία,"Plato, James J. Helm",301,818,3836,7668,9642,22265
5636,938077872,-500.0,धर्मपद [Dhammapada],"Anonymous, Ananda Maitreya, Thich Nhat Hanh, B...",213,516,2436,4866,9083,17114
6165,069109750X,-750.0,易 [Yì],"Anonymous, Richard Wilhelm, Cary F. Baynes, C....",178,599,2649,4230,7044,14700
6895,872206335,-385.0,"Euthyphro, Apology, Crito, Meno, Phaedo","Plato, G.M.A. Grube, John M. Cooper",160,535,2692,4632,5614,13633
7777,140443487,-476.0,論語 [Lún Yǔ],"Confucius, D.C. Lau",282,1027,3516,4303,4099,13227
8471,1888009039,-330.0,τὰ μετὰ τὰ φυσικά,"Aristotle, Joe Sachs",181,607,2377,3299,4181,10645
9280,521010756,-458.0,Ἀγαμέμνων,"Aeschylus, Judith Affleck, Philip de May, Patr...",140,749,3486,4253,3304,11932
9303,140446362,-335.0,Περὶ ποιητικῆς,"Aristotle, Malcolm Heath",231,982,3658,4502,3768,13141
9678,140441638,-500.0,उपनिषद [Upaniṣad],"Anonymous, Juan Mascaró",87,341,1669,2993,4577,9667

In [8]:
goodreads_df['Publication Year'].min()

-1750.0

In [9]:
goodreads_df['Publication Year'].max()

2017.0

In [11]:
# Place all of the data found into a summary DataFrame
summary_df = pd.DataFrame({"Total Unique Authors": [author_count],
                              "Earliest Year": [earliest_year],
                              "Latest Year": [latest_year],
                              "Total Reviews": [total_reviews]})
summary_df

   Total Unique Authors  Earliest Year  Latest Year  Total Reviews
0                  4664        -1750.0       2017.0      596873216